@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

#imagem {
    border-radius: 50%;
    color: #042738c5;
}

h3 {
    margin-top: 0;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.158);
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}